@charset "utf-8";

/* page styles */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background:  white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
