@charset "utf-8";

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #15ff00;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index: 1;
}
  
.openbtn:hover {
    background-color: #444;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
}
#main button {
    text-align: left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* Profile styling */
.sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar .profile img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.sidebar .profile h3 {
    color: white;
    margin: 10px 0 5px;
}

.sidebar .profile p {
    color: lavender;
    font-size: 14px;
}